# Function Class


###Inbuild functions in python

In [37]:

print("HI All Welcome to Advanced Python")

HI All Welcome to Advanced Python

In [38]:
a = [1,2,3,4,5]

In [39]:
a

[1, 2, 3, 4, 5]

In [40]:
type(a)

list

In [41]:
len(a)

5

In [42]:
a.append(10)

In [43]:
a

[1, 2, 3, 4, 5, 10]

In [44]:
sum(a)

25

## Custom Function in python

In [45]:
def add(a, b):
    """
    Input: Any Two Number
    Output: Addition of Two Number
    """
    c = a + b
    return c

In [46]:
add(5, 6)

11

In [47]:
add(34, 76)

110

In [48]:
c = add(12.34, 56.87)

In [49]:
c

69.21

### Multiple inputs in Functions
## Use of arguments in functions *args

In [50]:
def arguments(*args):
    for i in args:
        print(i)

In [51]:
arguments(4,5,6,7)

4
5
6
7

In [52]:
def add_many(*nums):
    """
    This Function add Multiple Numbers
    """
    # initialize sum to 0
    s = 0
    # Apply for loop on nums
    for i in nums:
        s = s + i
    return s

In [53]:
add_many(5,6)

11

In [54]:
add_many(8,9,60)

77

In [55]:
s1 = add_many(11,33,55,65,87,98,90)

In [56]:
s1

439

### Getting Product of Multiple Numbers

In [57]:
def product_many(*nums):
    """
    This function gives product for multiple numbers
    """
    # initialized product by 1
    p = 1

    # Apply for loop
    for i in nums:
        p = p*i
        
    return p

In [58]:
product_many(6,7.9)

47.400000000000006

In [59]:
product_many(3, 4)

12

In [60]:
product_many(1,2,3)

6

In [61]:
product_many(4,5,6,7,8)

6720

### keyword Arguments
**kwargs - dictionaries
{key1: value1,key2: value2,...}

In [62]:
dct = {101:'Yogeshwari',
       102:'Aditi',
       103:'Payal'}

In [63]:
dct.keys()

dict_keys([101, 102, 103])

In [64]:
dct.values()

dict_values(['Yogeshwari', 'Aditi', 'Payal'])

In [65]:
def keyword_arguments(**kwargs):
    for key, value in kwargs.items():
        print (f'{key} : {value}')

In [66]:
keyword_arguments(name='Yogeshwari', age=23, gender='Female', married='False')

name : Yogeshwari
age : 23
gender : Female
married : False

### crete for user

In [67]:
def create_user(**kwargs):
    """
    This function creates for new User
    """
    user = {'username':"",
            'email':"",
            'age':18}
    user.update(kwargs)
    return user

In [68]:
user1 = create_user(username='yogeshwari', email='patilyogeshwari@gmail.com', age=23)

In [69]:
user1

{'username': 'yogeshwari', 'email': 'patilyogeshwari@gmail.com', 'age': 23}

In [70]:
user2 = create_user(username='Payal')

In [71]:
user2

{'username': 'Payal', 'email': '', 'age': 18}

#### function to calculate right angle triangle
$ c^2 = a^2 + b^2 $

$ c = sqrt(a^2 + b^2) $

In [36]:
2**2

4

In [72]:
def hypotenuse(a, b):
    c = (a**2 + b**2)**(1/2)
    return c

In [73]:
hypotenuse(3,4)

5.0

In [74]:
h1 = hypotenuse(11,12)

In [75]:
h1

16.278820596099706

### takes 3 sides of triangle as inpue and tell whether it forms atriangle or not

### sum of two sides> third

In [76]:
def is_Triangle(x,y,z):
    """
    This function tells whether given 3 sides form a trianle or not
    """
    if (x+y)>z and (y+z)>x and (z+x)>y:
        s = True
    else:
        s = False
    return s

In [77]:
is_Triangle(3,4,5)

True

In [78]:
is_Triangle(1,2,3)

False

#### calculating area of triangle  with given sides a,b,c
Herons formula

$ s = (a+b+C)/2 $

$ area = sqrt(s*(s-a)*(s-b)*(s-c)) $

In [79]:
def area_Triangle(a, b, c):
    if is_Triangle(a,b,c)==True:
        s = (a+b+c)
        ar = (s*(s-a)*(s-b)*(s-c))**(1/2)
    else:
        ar = None
        print(f'This given sides {a}, {b}, and {c} Do Not form a triangle.' )  
    return ar

In [81]:
t1 = area_Triangle(12, 13, 14)

In [82]:
t1

827.3149339882606

In [83]:
t2 = area_Triangle(16, 17, 19)

In [84]:
t2

1470.4285089728096

In [85]:
area_Triangle(23,56,76)

12649.808694205616

In [86]:
area_Triangle(1,2,4)

This given sides 1, 2, and 4 Do Not form a triangle.